*{
    margin: 0%;
    padding: 0%;
}


.portada__contenido--imagen { 
    background-image: url(../imagenes/portada__beneficios.png);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;

  h1 { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: $type;
    font-size: 6rem;
    font-weight: map-get($type-map, titulo );
    color: white;
  }
}

.body__contenido { 
    h2 {
        font-family: $type;
        font-size: 3.2rem;
        font-weight: map-get($type-map, titulo );
        color: map-get($color-map, fondo_dos );
        text-align: center;
        margin: 7rem 0px 10px 0px;
        text-align: center;  
    }

    p{ 
         font-family: $type;
         font-size: 1.3rem;
         font-weight: map-get($type-map, parrafo );
         color: map-get($color-map, tcolor_dos );
         text-align: left;
         margin: 2rem 5rem;
    }

    h6 { 
        font-family: $type;
        font-size: 1.4rem;
        font-weight: map-get($type-map, subtitulo );
        text-transform: uppercase;
        color: map-get($color-map, tcolor_uno );
        text-align: center;
    }
}


.flex_contenido { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 4rem 0px;

    div { 
        width: 30rem;
        height: 35rem;
        background-color: map-get($color-map, fondo );
        border-radius: 1rem;
        transition: all 0.4s;
        box-shadow:0px 4px 4px rgba(0, 0, 0, 0.2) ;
        margin: 20px;
        position: relative;

        &:hover { 
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(255, 94, 0, 0.2);
        }

        img { 
            width: 30rem;
            height: auto; 
        }

        h2 { 
            text-align: center;
            padding: 10px 0px;
            font-family: $type;
            font-size: 1.8rem;
            font-weight: map-get($type-map, subtitulo );
            color: map-get($color-map, tcolor_uno );
        }

        p{ 
            text-align: center;
            font-family: $type;
            font-weight: map-get($type-map, parrafo );
            font-size: 1rem;
            color: map-get($color-map, tcolor_dos );
            padding: 0px 30px
        }

        a{ 
            position: absolute; 
            bottom: 8%;
            left: 50%;
            transform: translateX(-50%);
            text-decoration: none;
            font-family: $type;
            font-weight: map-get($type-map, lightsubtitulo );
            color: white;
            background-color: map-get($color-map, popcolor );
            padding: 5px 10px;
            border-radius: 1rem; 

            &:hover { 
                color: map-get($color-map, popcolor );
                background-color: white;
                transition: 0.5s;
            }
        }
        
    }

}


@media only screen and (max-width:1100px){ 
    .portada__contenido--imagen { 
        h1 { 
            font-size: 4rem;
        }
    }

    .body__contenido { 
        h6 { 
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width:945px) { 
    .body__contenido { 
        h2 { 
            font-size: 2.7rem;
        }

        h6 { 
            font-size: 1rem;
        }

        p{ 
            font-size: 1.2rem;
            padding: 0px 5px;
        }
    }
}


@media only screen and (max-width:820px) { 
    .body__contenido { 
        h2 { 
            font-size: 2.3rem;
            padding: 0px 20px;
            margin: 3rem 1rem 10px;
        }

        p { 
            font-size: 1.1rem;
            padding: 0%;
        }

        h6 { 
            padding: 0pc 2rem;
        }
    }

    .flex_contenido { 
        div { 
            width: 28rem;
            height: 32rem;

            p{ 
                font-size: 1rem;
                padding: 0px 3rem;
                text-align: center; 
            }

            img { 
                width: 28rem;
            }

            a{ 
                font-size: 0.9rem;  
            }
        }
    }
}

@media only screen and (max-width: 650px) { 
    .body__contenido { 
        h2 { 
           font-size: 1.6rem;
           padding: 0px 30px; 
        }

        p{
         font-size: 1rem; 
        } 
    }

    .flex_contenido { 
        div { 
            width: 25rem;
            height: 32rem;

            p{ 
                font-size: 0.95rem;
                padding: 0px 3rem;
                text-align: center;  
                top: 20%;
            }

            img { 
                width: 25rem;
            }

        }
    }
}

@media only screen and (max-width:575px){ 
    .flex_contenido { 
        div { 
            width: 23rem;
            height: 31rem;

            img { 
                width: 23rem;
            }
        }
    }
}

@media only screen and (max-width:495px) { 
    .flex_contenido { 
        div { 
         width: 21rem;
         height: 30rem;

         img { 
             width: 21rem;
         }

         h2 { 
             font-size: 1.6rem;
             padding-top: 1rem;
             margin: 0%;
         }

         p{  
            top: 28%;
        }
        
        a{ 
            bottom: 6%;
        }
        }
    }

    .body__contenido { 
      p{ 
             margin: 1rem;
             font-size: 0.85rem;
        }
        h2{
            font-size: 1.3rem;
        }
    } 
    
    .portada__contenido--imagen { 
       h1 { 
      font-size: 3rem;
      }
    }
}

@media only screen and (max-width:400px) { 
    .flex_contenido{ 
        div{ 
            width: 17.5rem;
            height: 27rem;

            img { 
                width: 17.5rem;
            }

            p{ 
                font-size: 0.75rem;
            }
        }

    }
}