*{
    margin: 0%;
    padding: 0%;
}


.portada__contenido--imagen { 
    background-image: url(../imagenes/portada__beneficios.d.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;

  h1 { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: $type;
    font-size: 6rem;
    font-weight: map-get($type-map, titulo );
    color: white;
  }
}

.body__contenido { 
    h2 {
        font-family: $type;
        font-size: 3.2rem;
        font-weight: map-get($type-map, titulo );
        color: map-get($color-map, fondo_dos );
        text-align: center;
        margin: 7rem 0px 10px 0px;
        text-align: center;  
    }

    p{ 
         font-family: $type;
         font-size: 1.3rem;
         font-weight: map-get($type-map, parrafo );
         color: map-get($color-map, tcolor_dos );
         text-align: left;
         margin: 2rem 5rem;
    }

    h6 { 
        font-family: $type;
        font-size: 1.4rem;
        font-weight: map-get($type-map, subtitulo );
        text-transform: uppercase;
        color: map-get($color-map, tcolor_uno );
        text-align: center;
    }
}


.flex_contenido { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    margin: 4rem 0px;

    div { 
        width: 30rem;
        height: 35rem;
        border-radius: 1rem;
        transition: all 0.4s;
        box-shadow:0px 4px 4px rgba(255, 169, 122, 0.2) ;
        margin: 20px;
        position: relative;
        

        &:hover { 
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(255, 94, 0, 0.2);
        }

        img { 
            width: 100%;
            height: 100%; 
            position: relative;
        }

     h6{
        position: absolute; 
            bottom: 28%;
            left: 50%;
            transform: translateX(-50%);
            text-decoration: none;
            font-family: $type;
            font-weight: map-get($type-map, titulo );         
            border-radius: 1rem;
            font-size: 2rem; 
            text-align: center;
            color: rgb(66, 58, 47);
     }

     p{
        position: absolute; 
            bottom: 13%;
            left: 50%;
            transform: translateX(-50%);
            text-decoration: none;
            font-family: $type;
            font-weight: map-get($type-map, parrafo ); 
            text-align: center;        
            border-radius: 1rem;  
            color: map-get($color-map ,tcolor_dos );
     }


        a{ 
            position: absolute; 
            bottom: 7%;
            left: 50%;
            transform: translateX(-50%);
            text-decoration: none;
            font-family: $type;
            font-weight: map-get($type-map, subtitulo );
            color: white;
            background-color: #f57149;
            padding: 5px 10px;
            border-radius: 1rem; 

            &:hover { 
                color: map-get($color-map, popcolor );
                background-color: white;
                transition: 0.5s;
            }
        }
        
    }

}


@media only screen and (max-width:1100px){ 
    .portada__contenido--imagen { 
        h1 { 
            font-size: 4rem;
        }
    }

    .body__contenido { 
        h6 { 
            font-size: 1.2rem;
        }
    }
}

@media only screen and (max-width:945px) { 
    .body__contenido { 
        h2 { 
            font-size: 2.7rem;
        }

        h6 { 
            font-size: 1rem;
        }

        p{ 
            font-size: 1.2rem;
            padding: 0px 5px;
        }
    }
}


@media only screen and (max-width:820px) { 
    .body__contenido { 
        h2 { 
            font-size: 2.3rem;
            padding: 0px 20px;
            margin: 3rem 1rem 10px;
        }

        p { 
            font-size: 1.1rem;
            padding: 0%;
        }

        h6 { 
            padding: 0pc 2rem;
        }
    }

}

@media only screen and (max-width: 650px) { 
    .body__contenido { 
        h2 { 
           font-size: 1.6rem;
           padding: 0px 30px; 
        }

        p{
         font-size: 1rem; 
        } 
    }

}

@media only screen and (max-width:575px){ 

    .flex_contenido{
        div{
            width: 25rem;
            height: 29rem;

            h6{
                bottom: 28%;
                font-size: 1.7rem;
            }

            p{
                font-size: 0.85rem;
            }
        }
    }
}

@media only screen and (max-width:495px) { 

   

    .body__contenido { 
      p{ 
             margin: 1rem;
             font-size: 0.85rem;
             padding: 1rem 2rem;
        }
        h2{
            font-size: 1.3rem;
        }
    } 
    
    .portada__contenido--imagen { 
       h1 { 
      font-size: 3rem;
      }
    }

    .flex_contenido{
        div{
            width: 22rem;
            height: 26rem;

            p{
                display: none;
            }

            h6{
                font-size: 2rem;
                bottom: 20%;
            }

            a{
                bottom: 12%;
            }
        }
    }
}

@media only screen and (max-width:400px) { 
    .flex_contenido{
        div{
            width: 17rem;
            height: 21rem;
        }
    }
}