.info__contacto{ 
        background-color: rgb(255, 255, 255);
        position: relative;
    h4{ 
        font-family: $type;
        font-size: 1.5rem;
        color: map-get($color-map, popcolor );
        font-weight: map-get($type-map, lightsubtitulo );
        text-align: center;  
        margin: 5px 0px 10px;
       }
       p{ 
        font-family:$type;
        font-size: 1.4rem;
        font-weight: map-get($type-map, parrafo );
        color:  map-get($color-map, tcolor_dos );
        text-align: left;
        padding: 0px 8rem 81px;   
       }
       ul{ 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-family: $type;
        font-size: 1.8rem;
        font-weight: map-get($type-map, strong_parrafo );
        color: map-get($color-map, tcolor_dos);
        list-style-type: none; 
        li{ 
            margin-bottom: 10px;
        } 
        }
        img { 
            width: 100%;
            height: auto;
            background-position: center;
            background-size: cover;
        }
   
}

.contacto__imagen { 
        background-image: url(../imagenes/contacto__portada.b.jpg);
        width: 100%;
        height: 100vh;
        background-position: center;
        background-size: cover;

        h1{ 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-family: $type;
        font-size: 6rem;
        font-weight: map-get($type-map, titulo );
        color: white;   
        }
}


.info__contacto--container{ 
    h2{ 
    font-family: $type;
    font-size: 2.8rem;
    color: map-get($color-map, tcolor_uno );
    text-align: center;
    font-weight: map-get($type-map, titulo );
    margin: 50px 0px 5px  
    }
}

.background{ 
    background-color: map-get($color-map, fondo );
    border-radius: 2rem;
    margin: 10px;
    box-shadow: 0px 2px 2px rgba(255, 123, 0, 0.438);
    transition: all 0.4s;

    &:hover { 
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(255, 94, 0, 0.2);
        background-color: #fff2e2;   
    }
    p{ 
        font-size: 1rem;
        font-weight: map-get($type-map, strong_parrafo );
    }
    h2{ 
    font-size: 1.5rem;
    padding-top: 5px;
    }
}

.fa-basket-shopping,
.fa-tags,
.fa-person,
.fa-bag-shopping
 { 
  color: map-get($color-map, popcolor );}

     .formulario__contacto { 
         background-color: map-get($color-map, fondo );
     }

     .formulario__container { 
        background-color: white;
        padding: 35px 10px;
        border-radius: 10px;
        box-shadow: 20px 30px 25px rgba(0, 0, 0, 0.15); 
        
        h1{ 
        font-size: 30px;
        text-align: center;
        color: map-get($color-map, popcolor );
        font-family: $type;
        font-weight: map-get($type-map, titulo );
        text-transform: uppercase;  
        }
        p{ 
            position: relative;
            margin: auto;
            width: 100%;
            color: #1e1e1e;
            text-align: center;
            font-family: $type;
            font-size: 15px;
            font-weight: map-get($type-map, strong_parrafo );   
        }
     }
    

     /*Media queries contacto*/ 
@media only screen and (max-width:1100px){ 
             .info__contacto--container{ 
                 h2{
                     font-size: 2.4rem;
                 }
             }
             .contacto__imagen{ 
                 h1{ 
                     font-size: 5rem;
                 }
             }
         }

         @media only screen and (max-width:945px){ 
             .info__contacto--container{ 
                 h2{ 
                     font-size: 2.2rem;
                 }
             }
         }

         @media only screen and(max-width:820px){ 
             .info__contacto--container{ 
                 h2{ 
                     font-size: 2.3rem;
                 }
             }

             .contacto__imagen { 
                 h1{ 
                     font-size: 3.5rem;
                 }
             }

             .info__contacto { 
                 h4 { 
                     font-size: 1.4rem;
                 }
             }
         }

         @media only screen and (max-width:650px){ 
             .info__contacto{ 
                 p{ 
                     font-size: 1.2rem;
                     padding: 0px 5rem 81px;
                 }
             }

             .info__contacto--container{ 
                 h2{ 
                     font-size: 1.8rem;
                 }
             }
         }

         @media only screen and (max-width:495px){ 
             .info__contacto{ 
                 h4{ 
                     font-size: 1.2rem;
                 }
                 p{ 
                     padding:0.5rem 1.5rem 2rem;
                     font-size: 1rem;
                 }
             }

             .info__contacto--container{ 
                 h2{ 
                     font-size: 1.5rem;
                     padding: 0px 4rem;
                 }
             }
         }