footer{
  background-color: map-get($color-map,fondo_tres );
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    div{
      width:20rem;
      height: auto;
      margin: 20px;

   /*Div uno*/
      img{
        width: 100px;
        margin-right: 20px;
        transition: transform 0.5s ease;

        &:hover{
          transform: scale(1.1);
          cursor: pointer;
          overflow: hidden;
        }

      }

      p{
        padding: 20px 40px 0px 0px;
        color: white;
      }
  /*Div dos*/
  h6{
    font-family:$type;
    font-size: 700;
    color:white ;
    font-size: 1.5rem;
    text-decoration: underline;
  }

  ul{
    list-style-type: none;
    padding: 0px;

    li{
      color: white;
      padding-bottom: 5px;
      a{
        color: white;
        text-decoration: none;
      }
    }
    i{
      color: map-get($color-map,popcolor );
      padding: 10px;
      margin:10px;
      margin-right: 0%;
      cursor: pointer;

      &:hover{
        color: white;
        transition: 0.5s;
      }

    }
  }

    }
  }
}