body{
  margin: 0%;
  font-family: "poppins";
  font-size: 14px;
}

.footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  display: flex;
  flex-flow: row wrap;
  color: #fff;
  background-color: map-get($color-map,fondo_tres);

 *{
   flex: 1 100%;
 }
 h2{
   font-weight: 700;
   font-size: 16px;
   margin-left: 18px;
   padding-top: 20px;
   color: map-get($color-map, fondo);
 }

 ul{
   list-style: none;
   padding-left: 20px;
   color: white;

   li{
    line-height: 2em;
  }
 }

 a{
   text-decoration: none;
   color: white;
 }

}

.l-footer{
  margin-right: 1.25em;
  margin-bottom: 2em;
  margin-left: 20px;
}

.r-footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;

  *{
    flex: 1 50%;
    margin-right: 1.25em;
  }
}

.box { 
  a{
    text-decoration: none;
  }
}

.h-box{
  column-count: 2;
  column-gap: 1.25;
}

.b-footer{
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 50px;
}

.l-footer{
  p{
    padding-right: 20%;
    color: rgb(255, 255, 255);
    margin: 10px;
  }
}


.footer { 
  img{
    margin: 10px;
  }

  i{
    color: #ff6d38;
    margin-bottom: 20px;
  }
}
@media only screen and(min-width:600px){
  .r-footer{
    *{
      flex:1 ;
    }
    }
    .features{
      flex-grow: 2;
  }
  .l-footer{
    flex:1 0px;
  }
  .r-footer{
    flex: 2 0px;
  }
}
