.header {
    background-color: #fff;
    z-index: 10;
    position: relative;

    img{
        width: 100px;
        position: absolute;
        top: 20%;
        left: 5%;  
    }
}

.navbar-light .navbar-toggler {
    margin: 0px;
  }

  .intro {
    grid-area: intro;
    background-color: rgb(87, 117, 107);
  }
  
  .image {
    width: 100%;
    height: 100vh;
    position: relative;
    opacity: 100%;
    background-image: url(../imagenes/alea__portada.a);
    background-position: center;
    background-size: cover;
    
  }
  
  .img__darker {
    background-color: #000;
  }
  
  .image__titulo {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-family: "poppins";
    font-size: 4.3rem;
    font-weight: 700;
    color: white;
  }
  
  
  .beneficios {
  background-color: rgb(255, 255, 255);

  
  }
  
  .beneficios__titulo { 
   text-align: center;
   font-size: 3rem;
   margin: 6.5rem 0px 10px 0px;
   font-family: "poppins";
   font-weight: 700;
   color: #514534;
  }

  .beneficios p {
    text-align: left;
    font-size: 1.2rem;
    padding: 0px 100px;
    font-weight: 300;
    margin-bottom: 6.5rem;
  }
  

.beneficios-dos {
background-color: rgb(255, 255, 255);

.beneficios-dos-parrafo{
  text-align: left;
  font-size: 1.2rem;
  padding: 0px 100px;
  font-weight: 300;
  margin-bottom: 6.5rem;
}

a{
    position: absolute;
    color: white;
    background-color: #f47762;
    padding: 10px 20px;
    top: 50%;
    left: 43%;
    font-family: "poppins";
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    border-radius: 1rem;

    &:hover{
        color: #f47762;
        background-color: white;
        transition: 0.5s; 
    }
}

  }

  .beneficios-dos-imagen {
    background-color: #000;
    position: relative;
    width: 100%;
    height: 280px;
    bottom: 0%;
    background-image: url(../imagenes/alea__relleno.f.jpg);
    background-position: center;
    background-size: cover;
  }

  .beneficios-imagen {
    background-color: #000;  
    width: 100%;
    height: 280px;
    background-image: url(../imagenes/alea--rellena.c);
    background-position: center;
    background-size: cover;

  }

  .beneficios-dos-parrafo {
    margin: 6rem 0px;
    font-size: 1.3rem;
    font-family: "poppins";
    font-weight: 300;
    color: #332a1d;
    padding: 0px 10rem;
    text-align: left;
  }
  
  .beneficios-dos-titulo {
    color: rgb(109 ,55 ,19);
    position: absolute;
    top: 64%;
    left: 3%;
    font-family: "poppins";
    font-weight: 700;
    font-size: 2.5rem;
    color: #ffffff;
    padding-top: 35px;
    text-align: left;
    padding-right: 50%;
    line-height: 3.5rem;
  }

  .imagen__titulo--dos {
    position: absolute;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 700;
  }

  .container__info { 
      h3{
        text-align: center;
        font-size: 3rem;
        font-family: "poppins";
        font-weight: 700;
        color: #514534;  
      }
  }

  .cliente {
    background-color: #fff4ea;
  border-radius: 1rem;
  box-shadow: 0px 2px 2px rgba(255, 123, 0, 0.438);
  transition: all 0.4s;

  &:hover { 
    background-color: #ffe5cd;
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(255, 94, 0, 0.2);
  background-color: #fff2e2;  
  }

  img{
    width: 80px;
    clip-path: circle();
  }
  i{
    color: #ff7762;
    padding-bottom: 5px;   
  }

  h4{
      font-size: 1.5rem;
  }

  p{
    font-size: 0.9rem;    
  }
  }

  .info-texto {
    font-size: 1.3rem;
    font-family: "poppins";
    font-weight: 300;
    color: #332a1d;
    text-align: left;
    margin: 0px 6rem;
  }
  .text-center {
    text-align: center!important;
    padding: 0px 20px;
  }

  /*Media Queries*/

  @media only screen and (max-width:1100px){
    .image__titulo {
        font-size: 4rem; 
      }
      
      .header img {
        width: 80px;
        top: 30%;
      }
    
      nav{
          ul{
              li{
                  a{
                      font-size: 1.1rem;
                  }
              }
          }
      }
      .imagen__titulo--dos {
        font-size: 1.7rem;
      }
    
      .footer ul li {
        font-size: 0.8rem;
      }
    }
  
    @media only screen and (max-width:945px) { 

        .beneficios__titulo { 
          font-size: 2.7rem;
         }
         .beneificios-dos{
          .beneficios-dos-parrafo{
            font-size: 1rem;
          }
         }
      
         .beneficios p ,
         .reseñas__info--container p {
          font-size: 1rem;
          padding: 0px 8rem;
      }
      
      .imagen__titulo--dos {
        font-size: 1.5rem;
        font-weight: 600;
      }
      
      .info-texto {
        font-size: 1.2rem;
        font-family: "poppins";
        font-weight: 300;
        color: #332a1d;
        text-align: left;
        margin: 0px 5rem;
      }
      
      .container__info h3 { 
      font-size: 2.7rem;
      }
      
      }

      @media only screen and (max-width:820px) { 
        .image__titulo {
          font-size: 3.5rem;
          padding: 0px 50px;
      }
      .beneficios__titulo { 
        font-size: 2.3rem;
       }
      
       .reseñas__info--container h2 {
        font-size: 2.3rem;
      }
      
      .beneficios p ,
      .reseñas__info--container p {
       font-size: 1.1rem;
       padding: 0px 7rem;
      }

      .beneficios-dos{
        .beneficios-dos-parrafo{
          font-size: 1.1rem;
          padding: 0px 1.8rem;
        }
      }
      
      
      .info-texto {
        font-size: 1.1rem;
      
      }
      
      .container__info h3 { 
        font-size: 2.3rem;
        }

        
        
      }

      @media only screen and (max-width:650px) { 

        .beneficios-dos-imagen {
          background-image: url(../imagenes/beneficios-imagen-648px.b.jpg);
        }
      
        .beneficios-imagen {
          background-image: url(../imagenes/beneficios__info.b.jpg);
        }
        .beneficios p ,
      .beneficios-dos-parrafo,
      .reseñas__info--container p {
       font-size: 1rem;
      }
      
      .beneficios__titulo { 
        font-size: 2rem;
       }
      
       .reseñas__info--container h2 {
        font-size: 2rem;
      }
      .beneficios p ,
      .beneficios-dos-parrafo,
      .reseñas__info--container p {
       font-size: 1rem;
       padding: 0px 5rem;
      }
      .container__info h3 { 
        font-size: 2rem;
        }
      }

      @media only screen and (max-width:495px){ 
 
        .image {
          background-image: url(../imagenes/responsive__1024.b.jpg);
        }
       
      
      
      .beneficios p ,
      .beneficios-dos-parrafo,
      .reseñas__info--container p {
       padding: 0px 1.8rem;
      }
      
      .beneficios__titulo { 
        font-size: 1.8rem;
       }
      
       .reseñas__info--container h2 {
        font-size: 1.8rem;
      }
      
      .image__titulo {
        font-size: 3rem;
        padding: 0px 50px;
      }
      
      .container__info h3 { 
        font-size: 1.5rem;
        }
      
        .info-texto {
          padding: 0px 1.5rem;
          margin: 0%;
        
        }
      }