.packs__header { 
    background-color: #fff;
}


.packs__portada--imagen { 
    background-image: url(../imagenes/packs__portada.a);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    opacity: 100%;
    position: relative;
}


.packs__portada { 
    background-color: #ffecdc;
    h1 { 
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        font-family: $type;
        font-size: 6rem;
        font-weight: map-get($type-map, titulo );
        color: white;
        z-index: 10; 
    }
}


.packs__body { 
    background-color: #ffecdc;

    h2{ 
        font-family: $type;
        font-size: 3.5rem;
        font-weight: map-get($type-map, titulo );
        color: map-get($color-map, tcolor_dos );
        text-align: center;
        margin-top: 4rem ;

    }

    b{ 
        text-align: center;
        font-family: $type;
        font-size: 1.5rem;
        font-weight: map-get($type-map, lightsubtitulo );
        color: map-get($color-map, popcolor );
        padding: 12px 12px;
        border-radius: 1rem;  
    }
}


.packs__body--flex { 
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0%; 
    background-color: #ffecdc;
    margin: 2rem 0px;

    div{ 
        width: 26rem;
        height: 37rem;
        margin: 0px 40px 30px 40px;
        background-color: #fff;
        position: relative;
        border-radius: 10px;
        box-shadow: 1px 3px 3px rgba(255, 136, 0, 0.2);
        transition: all 0.4s;
        margin-bottom: 30px;  

        &:hover { 
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(255, 94, 0, 0.2);
        }

        img { 
            width: 100%;
            height: auto; 
        }

        h2{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            font-family: $type;
            font-weight: map-get($type-map, titulo );
            font-size: 2rem;
            color: map-get($color-map, fondo_tres );
        }

        p{
            position: absolute;
            top: 72%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1rem;
            text-align: center;
        }

        
    }

    
        h2{ 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%);
            font-family: $type;
            font-weight: map-get($type-map,titulo );
            font-size: 2rem;
            color: map-get($color-map, tcolor_dos ); 
        }

        h3 { 
            position: absolute;
            top: 67%;
            left: 50%;
            transform: translateX(-50%);
            font-family: $type;
            font-size: 1.1rem;
            color: map-get($color-map,popcolor );  
        }

        ul{ 
            display: inline-block;
            position: absolute;
            top: 72%;
            left: 45%;
            transform: translateX(-50%);
            text-align: center;

            li{ 
             font-family: $type;
             font-weight: map-get($type-map,lightsubtitulo );
             font-size: 0.9rem;
             color: map-get($color-map, tcolor_uno );
             list-style-type: none;   
            }  
        }
      
        h5 { 
            font-family: $type;
            font-size: 1rem;
            font-weight: map-get($type-map,titulo );
            position: absolute;
            top: 3%;
            left: 50%;
            transform: translateX(-50%);
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            padding: 8px 15px;
            background-color: map-get($color-map, popcolor );
            border-radius: 2rem;
            cursor: pointer;  

            &:hover { 
                color: map-get($color-map, popcolor);
                background-color: white;
                transition: 0.5s;   
            }
        }
}   




  /*packs responsive*/

  @media only screen and (max-width:1100px){ 
      .packs__portada{ 
          h1{ 
            font-size: 5rem;  
          }
      }
  }

@media only screen and (max-width:945px){ 
      .packs__body{ 
          b{
            font-size: 1.5rem;   
          }
      }

      .packs__body--flex{
          div{
              ul{
                  left: 45%;
              }
              h3{
                  left: 50%;
              }
          }
      }
  }
 
@media only screen and (max-width:880px){
    .packs__body{ 
        h2{ 
         font-size: 2rem;  
        }

        b{
        font-size: 1.3rem;   
        }
    }


}
    
      
    


@media only screen and (max-width:650px){
    .packs__body{ 
       h2{
        font-size: 2.3rem;   
       }

       b{
        font-size: 1.2rem;   
       }
    }
       
    }




@media only screen and (max-width:495px){
    .packs__body{
        h2{
         font-size: 2rem;   
        }
        b{
         font-size: 1.1rem;   
        }
    }


    .packs__body--flex{
        div{
         width: 17rem;
         height: 25rem; 
         margin: 0%;
         margin-bottom: 2rem;
         h2{
         top: 42%; 
         font-size: 1.5rem;  
         } 
         h3{
             top: 65%;
             font-size: 0.8rem;
         }

         ul{
             top: 69%;
             left: 44%;
             li{
                 font-size: 0.7rem;
             }
         }

         h5{
             font-size: 0.6rem;
             font-weight: 600;
         }

         p{
             font-size: 0.7rem;
         }
      
        }

        .promocion{
            width: 17rem;
            height: 34rem;
            h4{
            top: 2%;
            left: 0;
            font-size: 0.8rem;
            margin: 0px 50px;
            text-align: center;
            padding: 7px 10px;   
            }
            h1{
            top: 58%;
            left: 50%;
            font-size: 1.6rem;
            line-height: 2rem; 
            margin: 0%;   
            }
            a{
                top: 44%;   
            }

            p{
                top: 70%;
                text-align: center;
            }

        }
    }

    .promo-texto{
        font-size: 0.8rem;
        top: 75%;   
    }

    .packs__body--flex{
        .promocion{
            width: 20rem;
            height: 40rem;
        }

        img{
            width: 20rem;
            height: auto;
        }
    }
}