$color-map :(
    popcolor:#fe8a75,
    fondo:#ffe6ce,
    tcolor_uno:#57322d,
    tcolor_dos:#3d352a,
    fondo_dos:#bc5042,
    fondo_tres:#2f231c
);

$type-map :( 
    titulo:700,
    subtitulo:600,
    lightsubtitulo:500,
    strong_parrafo:400,
    parrafo:300
);


$type:"poppins";

.container-fluid{
    padding: 0%;
    margin: 0%;
}


.recetas__imagen {
  background-image: url(../imagenes/imagen__recetas.b.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;

  h1 { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-family: $type;
    font-size: 6rem;
    font-weight: map-get($type-map, titulo );
    color: #ffffff; 
  }
}

.recetas__flex { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-bottom: 4rem;
    padding: 0%;
    margin: 0%;



     div {
        width: 33rem;
        height: 17rem;
        background-color: #fff1e4;
        position: relative;
        margin: 15px;
        margin-right: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        transition: all 0.4s;

        &:hover { 
            transform: translateY(-15px);
            box-shadow: 0 12px 16px rgba(255, 94, 0, 0.2); 
        }
      }
}

.body__recetas { 
    h2 { 
        font-family: $type;
        font-size: 2.5rem;
        font-weight: map-get($type-map, titulo );
        color: map-get($color-map, tcolor_uno );
        text-align: center;
        margin: 4rem 0px 20px 0px;
    }

    p {
        font-family: $type;
        font-weight: map-get($type-map, parrafo );
        font-size: 1.3rem;
        color: map-get($color-map,tcolor_dos );
        text-align: left;
        margin: 20px 50px 50px 50px;
        padding: 0px 1rem;
      }   
}

.recetas__flex { 
    img{ 
        position: absolute;
        right: 0%;
        width: 100%;
        height: 17rem;
        width: 17.5rem; 
    }

    b { 
        position: absolute;
        top: 35%;
        left: 7%;
        font-family: $type;
        font-weight: map-get($type-map, subtitulo );
        font-size: 0.7rem;
        color: rgb(255, 255, 255);
        background-color: map-get($color-map, popcolor );
        padding: 5px 10px;
        border-radius: 0.5rem; 
    }

    h3 { 
    font-family: $type;
    font-size: 1.4rem;
    font-weight: map-get($type-map, titulo );
    color: map-get($color-map, tcolor_dos);
    padding-right: 70%;
    line-height: 2rem;
    position: absolute;
    top: 8%;
    left: 7%;
    }

    ul{
        list-style-type: none;
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 14%;
        transform: translateX(-50%);
        margin: 0%;
        padding: 0%;

  li{ 
    font-family: $type;
    font-size: 0.75rem;
    font-weight: 400;
    color: map-get($color-map, tcolor_dos );
    text-align: left;
    margin-left: 3rem;
    padding-left: 15px;
  }
    }
}


/*media queries pagina recetas*/

@media only screen and (max-width:1100px) { 
    .recetas__imagen { 
        h1 { 
          font-size: 5rem;
        }
    }

}

@media only screen and (max-width:945px){ 
   .body__recetas { 
       h2 { 
           font-size: 2.3rem;
       }

       p { 
           font-size: 1.2rem;
       }
   }


}

@media only screen and (max-width:820px) { 
    .body__recetas { 
       p { 
         font-size: 1.1rem;
        }
    }

    .recetas__imagen { 
        h1 { 
            font-size: 3rem;
        }
    }

    .recetas__imagen { 
        h1 { 
          font-size: 5rem;
        }
    }

}

@media only screen and (max-width:650px) {
    .body__recetas { 
        h2 { 
            font-size: 2rem;
        }
        p { 
            font-size: 1rem;
        }

       
    }


    

    .recetas__flex { 
        div { 
            width: 20.5rem;
            height: 550px;
            margin: 20px;
            position: relative;
            border-radius: 10px;
            box-shadow: 0px 2px 2px rgba(149, 76, 16, 0.2);
            transition: all 0.4s;
            margin-bottom: 30px;
        }

        img { 
            position: absolute;
            right: 0%;
            width: 100%;
            width: 20.5rem;
            height: 20rem; 
        }

        h3 { 
            position: absolute;
            top: 61.5%;
            left: 50%;
            transform: translateX(-50%);
            font-family: "poppins";
            font-size: 1.8rem;
            font-weight: 700;
            padding: 0%;
            margin: 0%;
            text-align: center;
        }

        b { 
             position: absolute;
             top: 5%;
             left: 50%;
             transform: translateX(-50%);
             font-family: "poppins";
             font-weight: 600;
             font-size: 0.9rem;
             color: white;
             background-color: map-get($color-map, popcolor );
             border-radius: 0.5rem;
             padding: 10px 10px;
             margin: 0%;
        }

        ul { 
            list-style-type: none;
            position: absolute;
            display: inline-block;
            top: 75%;
            left: 50%;
            transform: translateX(-50%);
            margin: 0%;
            padding: 0%; 

            li { 
                text-align: center;
                margin: 0%;
                padding: 0%;
                font-size: 0.9rem;

            }
        }
    }

    .recetas__imagen {
        background-image: url(../imagenes/recetas_650px.b.jpg);
      }

      
}

@media only screen and (max-width:495px){ 
    .body__recetas { 
        h2 { 
            font-size: 1.6rem;
        }

        p { 
            padding: 0rem 2rem ;
            margin: 0%;
            font-size: 0.9rem;
        }
    }

    .recetas__imagen { 
        h1 { 
          font-size: 3.5rem;
        }}
}

@media only screen and (max-width:420px){
    .recetas__flex {
         h3{
             font-size: 1.4rem;
             top: 58%;
             line-height: 1.7rem;
         }

        div{
            width: 15rem;
            height: 28rem;

            img{ 
                width: 15rem;
                height: 15rem;
            }
        }    
    }

    .recetas__flex { 
            ul{
                top: 73%;
                left: 50%;
                transform: translateX(-50%);
                li{
                    font-size: 0.75rem;
                 }
        }
    }

    .body__recetas { 
        h2 { 
            font-size: 1.6rem;
            margin: 2rem 2rem 1rem;
            
        }
    }
}