/*pagina Principal*/

@import "recetas";
@import "contenido";
@import "contacto";
@import "packs";
@import "footer";
@import "index";
@import "beneficios";

/*  General*/
* {
    margin: 0%;
    padding: 0%;
    font-family: "poppins";
  }
  
  .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding: 0%;
  }
  
  .col-12 {
    padding: 0;
  }







